@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('fonts/helvetica/HelveticaNeue-Regular.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('helveticaneue_medium-webfont.woff2') format('woff2'),
         url('helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('fonts/helvetica/HelveticaNeue-Bold.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaNeue-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// EXPERIMENT FONTS
@font-face {
    font-family: 'Constantia';
    src: url('fonts/helvetica/Constantia-Font.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calisto';
    src: url('fonts/helvetica/Calisto-MT_9070.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}