// Fonts
$primaryFont: 'Museo 300', sans-serif;
$boldFont: 'Museo 700';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 16px;
$baseFontColor: #919596;

// Colours
$primary: #88947c;
$secondary: #a5b792;
$tertiary: #f7f2de;
$cream: #f9f9ea;

$lightgrey: #f1f5f7;
$white: #FFFFFE; 
$text: $baseFontColor;
$border: darken($lightgrey, 5%);
