// Fonts
$primaryFont: 'Calisto';
$boldFont: 'Calisto';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 17px;
$baseFontColor: darken(#919596, 20%);

// Colours
$primary: #88947c;
$secondary: #a5b792;
$tertiary: #f7f2de;
$cream: #f9f9ea;

$lightgrey: #f1f5f7;
$white: #FFFFFE; 
$text: $baseFontColor;
$border: darken($lightgrey, 5%);
